<nav id="navbar">
    <a href="/toughts/dashboard" id="logo">
        <img src="/img/curious_logo.png" alt="Toughts">
    </a>
</nav>
<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <h1>Criando um Pensamento:</h1>
  <form action="/toughts/add" method="POST">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Digite o título" required>
    </div>
    <div class="form-control">
      <label for="link">Link:</label>
      <input type="text" name="link" placeholder="Digite o link" required>
    </div>
    <input type="submit" value="Criar Pensamento">
  </form>
</div>