{{#if session.userid}}
<div class="center-container">
    <!-- Adicione o ID "btn-register" ao botão de registrar -->
    <a id="btn-register" class="btn-register btn-link" href="/register">Registrar</a>
    <!-- Adicione o ID "btn-login" ao botão de login -->
    <a id="btn-login" class="btn-login btn-link" href="/login">Login</a>
</div>
{{/if}}