@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Gotham', sans-serif;
}


main {
  background-color: #F27798;
}

header {
  background-color: #F27798;  
}

pre {
  font-family: 'Open Sans', sans-serif !important;
  white-space: pre-wrap;
  word-wrap: break-word; 
  font-size: 18px !important;
}

#btn-form {
  background-color: #F27798;
  color: white;
  border: none; /* Remove a borda */
  outline: none; /* Remove a borda de foco */
  border: solid 3px #000;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  transition: transform 0.3s;
  font-weight: bold;
}

#btn-back {
  color: #F27798;
}

#btn-form:hover {
  transform: scale(1.03);
}

.bold {
  font-weight: 700;
}

.message {
  padding: 1em;
  color: #f1275d;
  background-color: #efb7c6;
  border: 1px soli d#efb7c6;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 40%;
}

/* navbar */

.home-container {
padding-bottom: 100px;
}

#navbar {
  background-color: #F2E2CE;
  max-height: 80px;
  height: 80px;
}

.nav-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #A64724;
  transition: .3s;
}

.nav-item a:hover {
  text-decoration: none;
  color: #F2AE2E;
}

/* home */
.home-container {
max-width: 80%;
}

#home-background {
  background-color: #F2AE2E;
  padding-bottom: 90px;
  border-radius: 40px;
  border: solid 3px #000;
  -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

#panqueca_card {
  max-width: 100%;
}

.card-img-top {
  height: 200px;
}

.card {
  border: none !important;
}

.card-body {
  height: 140px;
}

.card-footer-1 {
  background-color: #F2E2CE !important;
  border-top: none !important;
}

.card-footer-2 {
  background-color: #F2E2CE !important;
}

.card-title {
  font-weight: bold;
}

#card-body-bg {
  background-color: #F2E2CE !important;
}

.zoom-div {
  width: 200px;
  height: 200px;
  transition: transform 0.3s;
}

.zoom-div:hover {
  transform: scale(1.03);
}

/* post */

#post-background {
  background-color: #F2AE2E;
  padding-bottom: 90px;
  border-radius: 40px;
  border: solid 3px #000;
  -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  background-image: url(../img/panquecasfodas3.png);
  background-position: top;
  background-size: cover; /* Tornando a imagem responsiva */
  background-repeat: no-repeat;
  height: 180px;
  width: 100%; /* Certificando-se de que a imagem se ajuste à largura da div */
}

#post-background2 {
  background-color: #F2AE2E;
  padding-bottom: 90px;
  border-radius: 40px;
  border: solid 3px #000;
  -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

.post-img {
  width: 50%;
}

.post-header a {
  text-decoration: none !important;
  color: #000;
  font-weight: bold;
  transition: .3s;
}

.post-header a:hover {
  text-decoration: none !important;
  color: #1b1b1b;
  font-weight: bold;
}


#input-form {
  border: 1.5px solid #000;
  color: #000000;
}

#input-form:focus {
  color: #000;
}

/* create */
.bordered-text {
  border: 2px solid black;
  padding: 10px;
}

.create-container {
  max-width: 40%;
  padding-bottom: 100px;
  }

#btn-default {
  background-color: #F27798;
  color: white;
  border: none; /* Remove a borda */
  outline: none; /* Remove a borda de foco */
  border: solid 3px #000;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

.create-zoom-div {
  width: 100px;
  transition: transform 0.3s;
}

.create-zoom-div:hover {
  transform: scale(1.03);
}

/* login */
.pink-link {
  text-decoration: none;
  color: #ffffff;
}

.pink-link:hover {
  color: #f5eaf0; /* Altera a cor ao passar o cursor por cima */
}

/* dashboard */
#dashboard-background {
  background-color: #F2AE2E;
  padding-bottom: 60px;
  padding-top: 60px;
  border-radius: 40px;
  border: solid 3px #000;
  -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
  box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}

footer {
  padding: 50px;
}
